<h1> My Blocmarks </h1>

<h2> <%= @user.email %>'s Bookmarks </h2>

  <div class="row">
    <% @user_bookmarks.each do |bookmark| %>
    <div class="col-sm-3">
      <div class="well bookmark_box">
        <%= bookmark.url %> <br>
        <%= link_to "Delete Bookmark", bookmark, method: :delete, class: 'glyphicon glyphicon-remove-circle', data: { confirm: "Are you sure you want to delete this bookmark?" } %> <br>
        <%= link_to "Edit Bookmark", edit_bookmark_path(bookmark), class: 'glyphicon glyphicon-pencil' %>
      </div>
      <div class="button_placement">
      <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
      </div>
    </div>
    <% end %>
  </div>
______________________

<h2> Liked Bookmarks </h2>

<div class="row">
  <% @liked_bookmarks.each do |like| %>
  <div class="col-sm-3">
    <div class="well bookmark_box">
      <%= like.bookmark.url %> <br>
      <%= link_to "Delete Bookmark", like.bookmark, method: :delete, class: 'glyphicon glyphicon-remove-circle', data: { confirm: "Are you sure you want to delete this bookmark?" } %> <br>
      <%= link_to "Edit Bookmark", edit_bookmark_path(like.bookmark), class: 'glyphicon glyphicon-pencil' %>
    </div>
    <div class="button_placement">
    <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %>
    </div>
  </div>
  <% end %>
</div>
